<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation defaultLanguage="c#" />
        <globalization fileEncoding="utf-8" />
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-Powered-By" value="KLGaming" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
        <handlers>
            <add name="listener" path="listener.cshtml" verb="GET" type="System.Web.DefaultHttpHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".mp4" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".mp3" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
    <location path="pig.js">
     <system.webServer>
      <staticContent>
       <clientCache cacheControlMode="DisableCache" />
      </staticContent>
     </system.webServer>
    </location>
</configuration>
